body{
    background-color: yellow;
    margin: 30px;
    padding: 0;
}
.eye{
    background-color: white;
    width: 150px;
    height: 150px;
    padding-top: 30px;
    padding-left: 30px;
}
.pupal{
    background-color:black;
    width: 70px;
    height: 70px;
}
#eye1{
    display: inline-block;
}
#eye2{
    display:inline-block;
    margin-left: 10px;
}
#mouth{
    background-color: black;
    width: 430px;
    height: 300px;
    margin-top: 30px;
    padding-top: 30px;
}
.teeth{
    background-color: white;
    width: 40px;
    height: 40px;
}
#firsttooth{
    margin-left: 30px;
}
#nexttooth{
    margin-left: 50px;
}
#tongue{
    background-color: red;
    width: 175px;
    height: 130px;
    margin-top: 125px;
    margin-left: 120px;
}
#tongueline{
    background-color: black;
    width: 10px;
    height: 100px ;
    margin-left: 80px;
}