body{
    background-image: url("https://praxilabs.com/en/blog/wp-content/uploads/2025/07/Important-Physics-Equations-in-History-1.webp");
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    font-size: 50px;
}
#centertext{
    text-align: center;
}
img{
    position: relative;
    left: 100px;
    top: 10px;
}
ul{
    list-style-type:georgian;
}
p{
    background-color: white;
}
input[type ="submit"] {
    color:purple;
    background-color: aqua;
}
.underline {
    text-decoration:underline;
}
.purplehighlight{
    background-color: rgb(208, 0, 255);
    display: inline;
}
.div1{
    color:rgb(0, 94, 255);
    background-color: rgb(0, 0, 0);
    padding: 20px;
}
.div2{
    background-image: url(https://www.lifeinthefingerlakes.com/wp-content/uploads/2019/10/finger-lakes-sunset.jpg);
    color: white;
    margin: 70px;
    padding: 30px;
}
.div3{
    background-color: black;
    color: orange;
    padding: 30px;
}
.div4{
    background-color: greenyellow;
    font-size: 25px;
    margin-top: 70px;
    padding: 30px;
}
.redtext{
    color: red;
}
#specialcaption{
    background-color: brown;
    color: greenyellow;
}