body{
    background-image: url("https://praxilabs.com/en/blog/wp-content/uploads/2025/07/Important-Physics-Equations-in-History-1.webp");
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul{
    list-style-type:georgian;
    text-indent: 40px;
}
p{
    background-color: white;
}
input[type ="submit"] {
    color:purple;
    background-color: aqua;
}
.underline {
    text-decoration:underline;
}
.purplehighlight{
    background-color: rgb(208, 0, 255);
    display: inline;
}
.div1{
    color:rgb(0, 94, 255);
    background-color: rgb(0, 0, 0);
}
.div2{
    background-image: url(https://www.lifeinthefingerlakes.com/wp-content/uploads/2019/10/finger-lakes-sunset.jpg);
    color: white;
}
.div3{
    background-color: black;
    color: orange;
}
.div4{
    background-color: greenyellow;
}
.redtext{
    color: red;
}
#specialcaption{
    background-color: brown;
    color: greenyellow;
}