body{
    background-image: url("https://praxilabs.com/en/blog/wp-content/uploads/2025/07/Important-Physics-Equations-in-History-1.webp");
}
h1{
    color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul{
    color:aqua;
    list-style-type:georgian;
    text-indent: 40px;
}
p{
    background-color: white;
}
form{
    background-color: black;
    color: orange;
}
input[type ="submit"] {
    color:purple;
    background-color: aqua;
}
div{
    color:aqua;
    background-color: rgb(0, 0, 0);
}
.underline {
    text-decoration:underline;
}
.purplehighlight{
    background-color: rgb(208, 0, 255);
    display: inline;
}
.background2{
    background-color: brown;
}
.background3{
    background-color: greenyellow;
}
.redtext{
    color: red;
}
