/* body{
    color: pink;
    background: black;
    font-family: monospace;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
} */

/* div{
    width: 100px;
    height: 100px;
}
#bluediv{
    background-color: cyan;
    position: absolute;
    top: 100px;
    left: 200px;
    bottom: auto;
    right: auto;
}
#reddiv{
    background-color: red;
} */

body{
    margin: 0;
    padding: 0;
}
#outerdiv{
    background-color: cyan;
    padding: 10px;
    margin: 20px;
}
#innerdiv{
    background-color: red;
    width: 100px;
    height: 100px;
    margin: auto;
}